@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 3.5em 2fr 15em;
    grid-template-areas:
        "header  header  header"
        "content content content"
        "footer footer footer";
    background-color: black;
    color: white;
    font-family: 'Architects Daughter', cursive;
}

.header {
    grid-area: header;
    background-color: rgb(172, 9, 247);
    display: flex;
    flex-direction: row;
}

.nav_bar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: center;
    background-color: rgb(172, 9, 247);

}

.nav_button {
    width: 100px;
    height: 100%;
    background-color: rgb(172, 9, 247);
    border: none;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.nav_button:hover {
    background-color: rgb(45, 5, 63);
}

.footer {
    grid-area: footer;
    background-color: rgb(172, 9, 247);
    grid-area: footer;
    display: grid;
    grid-area:
        "left right";
    grid-template-columns: 1fr 1fr;
}

.logo_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150%;
}

.content {
    color: white;
    grid-area: content;
    grid-column-start: 2;
    grid-column-end: 3;
}

.header_logo {
    height: 50px;
    width: 120px;
    border: 1px solid white;
    border-radius: 15px;
    position: relative;
    top: 2px;
    left: 1px;
}

.left,
.right {
    width: 90%;
    margin: 10px 10px 10px 10px;
    text-align: center;
}

@media (max-width:1000px) {
    .logo_container h1 {
        display: none;
    }
}